@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Dolce Vita";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Dolce-Vita.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Dolce Vita Light";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/Dolce-Vita-Light.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Dolce Vita Heavy";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Dolce-Vita-Heavy-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Gogh";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Gogh-ExtraBold.ttf") format("truetype");
  }

  html {
    background: url('/background.png');
    background-size: cover;
    background-attachment: fixed;
  }